---
layout: page
title: "Publications "
description: "DeepImaging Group"
header-img: "img/cloud2.jpg"
---

<!-- Language Selector -->
<!-- <select onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> 中文 Chinese </option>
    <option value="1"> 英语 English </option>
</select> -->

<!-- Chinese Version -->
<div class="zh post-container">
    <!-- <blockquote style="font-weight:bold">
        写写代码，玩玩吉他，看看书。<br>
        经常正经，偶尔神棍。<br>
        不是个有趣的人。<br>
        非喜勿近。
    </blockquote>

    <iframe frameborder="no" border="0" marginwidth="0" marginheight="0" width=330 height=86 src="//music.163.com/outchain/player?type=2&id=441442&auto=1&height=66"></iframe>

    <p style="text-align:justify-content;">
        初级前端工程师一枚，目前就职魔都一家游戏公司--InitialWorld。<br>
        上班不挤公交不挤地铁，穿过两条河，几亩菜畦，一片芦苇荡，想跑~跑，想走~走!<br>
    </p>
    <p style="text-align:justify-content;">
        工作偏于移动端，没有复杂的兼容性，CSS3用的飞起。<br>
        干活麻利，so 有时间学自己喜欢的技术：Node.js/Vue.js/D3.js/webGL!<br>
    </p>
    <p style="text-align:justify-content;">
        年方23，纳音剑锋金，如白虎渡江。<br>
        每天醒来有梦想有音乐，清楚要走向的山岗!<br>
    </p> -->
    <h2>Journal Publications</h2>
    [1]. Chenyu You, Qingsong Yang, Hongming Shan, Lars Gjesteby, Guang Li, Shenghong Ju, Zhuiyang Zhang, Zhen Zhao, Yi Zhang, Wenxiang Cong, and Ge Wang*. Structure-sensitive multi-scale deep neural network for low-dose CT denoising. arXiv:1805.00587. IEEE Access, in revision, 2018.<br>

    [2]. Chunhui Bao, Yifei Pu, and Yi Zhang*. Fractional-order deep backpropagation neural network. Computational Intelligence and Neuroscience, accepted, 2018<br>

    [3]. Peng Bao, Jiliu Zhou, and Yi Zhang*. Few-view CT Reconstruction with group-sparsity regularization. International Journal of Numerical Methods in Biomedical Engineering, DOI 10.1002/CNM.3101, in press, 2018.<br>

    [4]. Hongming Shan, Yi Zhang*, Qingsong Yang, Uwe Kruger, Wenxiang Cong, and Ge Wang*. 3D convolutional encoder-decoder network for low-dose CT via transfer learning from a 2D trained network. IEEE Transactions on Medical Imaging, pp. 1522-1534, vol. 37, no. 6, 2018.<br>

    [5]. Qingsong Yang, Pingkun Yan*, Yanbo Zhang, Hengyong Yu, Yongyi Shi, Xuanqin Mou, Mannudeep K. Kalra, Yi Zhang, Ling Sun and Ge Wang, Low dose CT image denoising using a generative adversarial network with Wasserstein distance and perceptual loss. IEEE Transactions on Medical Imaging, pp. 1348-1357, vol. 37, no. 6, 2018.

    <br>[6]. Hu Chen, Yi Zhang*, Yunjin Chen, Junfeng Chen, Weihua Zhang, Huaiqiang Sun, Yang Lv, Peixi Liao, Jiliu Zhou, and Ge Wang. LEARN: Learned experts’ assessment-based reconstruction network for sparse-data CT. IEEE Transactions on Medical Imaging, pp. 1333-1347, vol. 37, no. 6, 2018.

    <br>[7]. Yan Liu and Yi Zhang*. Low-dose CT restoration via stacked sparse denoising autoencoders. Neurocomputing, pp. 80-89, vol. 284, 2018.

    <br>[8]. Wenchao Du, Hu Chen, Zhihong Wu, Huaiqiang Sun, Peixi Liao, and Yi Zhang*. Stacked competitive networks for noise reduction in low-dose CT. PLoS ONE, e0190069, vol. 12, no. 12, 2017.

    <br>[9]. Jin Liu, Jianhua Ma, Yi Zhang, Yang Chen*, Jian Yang, Huazhong Shu, Limin Luo, Gouenou Coatrieux, Wei Yang, Qianjin Feng, and Wufan Chen. Discriminative feature representation to improve projection data inconsistency for low dose CT imaging. IEEE Transactions on Medical Imaging, pp. 2499-2509, vol. 36, no. 12, 2017.

    <br>[10]. Hu Chen, Yi Zhang*, Mannudeep K. Kalra, Feng Lin, Yang Chen, Peixi Liao, Jiliu Zhou, and Ge Wang. Low-dose CT with a residual encoder-decoder convolutional neural network. IEEE Transactions on Medical Imaging, pp. 2524-2535, vol. 36, no. 12, 2017.

    <br>[11]. Hu Chen, Yi Zhang*, Weihua Zhang, Peixi Liao, Ke Li, Jiliu Zhou, and Ge Wang. Low-dose CT via convolutional neural network. Biomedical Optics Express, pp. 679-694, vol. 8, no. 2, 2017.

    <br>[12]. Yi Zhang, Yan Xi, Qingsong Yang, Wenxiang Cong, Jiliu Zhou and Ge Wang*. Spectral CT reconstruction with image sparsity and spectral mean. IEEE Transactions on Computational Imaging, pp. 510-523, vol. 2, no. 4, 2016.

    <br>[13]. Yi Zhang, Yan Wang,* Weihua Zhang, Feng Lin, Yifei Pu and Jiliu Zhou. Statistical iterative reconstruction using adaptive fractional order regularization. Biomedical Optics Express, pp. 1015-1029, vol. 7, no. 3, 2016.

    <br>[14]. Yan Wang, Xi Wu, Wenzao Li, Zhi Li, Yi Zhang* and Jiliu Zhou. Analysis of micro-Doppler signatures of vibration targets using EMD and SPWVD. Neurocomputing, pp. 48-56, vol. 171, no. 1, 2016.

    <br>[15]. Ying Fu, Xi Wu*, Xiaohua Li, Kun He, Yi Zhang and Jiliu Zhou. Image motion restoration using fractional-order gradient prior. Informatica, pp. 621-634, vol. 26, no. 4, 2015.

    <br>[16]. Yan Wang, Xi Wu*, Wenzao Li, Yi Zhang, Zhi Li and Jiliu Zhou. A Reconstruction Method Based on AL0FGD for Compressed Sensing in Border Monitoring WSN System. PLOS ONE, e112932, vol. 9, no. 12, 2014.

    <br>[17]. Menglong Yang*, Yiguang Liu, Zhisheng You, Xiaofeng Li and Yi Zhang. A homography transform based higher-order MRF model for stereo matching. Pattern Recognition Letters, pp. 66-71, vol. 40, no. 1, 2014.

    <br>[18]. Yi Zhang*, Weihua Zhang, Yinjie Lei and Jiliu Zhou. Few-view image reconstruction with fractional-order total variation. Journal of the Optical Society of America A, pp. 981-995, vol. 31, no. 5, 2014.

    <br>[19]. Yi Zhang, Weihua Zhang* and Jiliu Zhou. Accurate sparse-projection image reconstruction via nonlocal TV regularization. The Scientific World Journal, Article ID 458496, 7 pages, 2014.

    <br>[20]. Ying Fu*, Xiaohua Li, Lei Liang, Yi Zhang and Jiliu Zhou. The restoration of textured images using fractional-order regularization. Mathematical Problems in Engineering, Article ID 356906, 10 pages, 2014.

    <br>[21]. Yi Zhang, Wei-Hua Zhang*, Hu Chen, Meng-Long Yang, Tai-Yong Li and Ji-Liu Zhou. Few-view image reconstruction combining total variation and a high-order norm. International Journal of Imaging Systems and Technology, pp. 249-255, vol. 23, no. 3, 2013.

    <br>[22]. Weihua Zhang, Yi Zhang*, Chaobang Gao and Jiliu Zhou. Action recognition by joint spatial-temporal motion feature. Journal of Applied Mathematics, Article ID 605469, 9 pages, 2013

    <br>[23]. Yi Zhang*, Yi-Fei Pu, Wei-Hua Zhang, Jin-Rong Hu, Han Wang Yinjie Lei and Jiliu Zhou. A novel noniterative metal artifact reduction method using coherence transport with fast marching in computed tomography. International Journal of Imaging Systems and Technology, pp. 200-207, vol. 22, no. 4, 2012.

    <br>[24]. Yi Zhang*, Yi-Fei Pu, Jin-Rong Hu and Ji-Liu Zhou. A class of fractional-order variational image inpainting models. Applied Mathematics & Information Sciences, pp. 299-306, vol. 6, no. 2, 2012.

    <br>[25]. Yi Zhang*, Yifei Pu and Jiliu Zhou. Suppression of computed tomography metal artifacts using curvature driven diffusions based sinogram inpainting. Advanced Science Letters, pp. 208-211, vol. 5, no. 1, 2012.

    <br>[26]. Jin-Rong Hu*, Yi-Fei Pu, Xi Wu, Yi Zhang and Ji-Liu Zhou. Improved DCT-Based Nonlocal Means Filter for MR Images Denoising. Computational and Mathematical Methods in Medicine, Article ID 232685, 14 pages, 2012

    <br>[27]. Jinrong Hu*, Yifei Pu, Yi Zhang and Jiliu Zhou. Nonlocal means denoising algorithm based on DCT subspace. Journal of Computer-Aided Design and Computer Graphics, pp. 89-96, vol. 24, no. 1, 2012.

    <br>[28]. Yi Zhang*，Yi-Fei Pu, Jin-Rong Hu, Yan Liu, Qing-Li Chen and Ji-Liu Zhou. Efficient CT metal artifacts reduction based on fractional-order curvature diffusion. Computational and Mathematical Methods in Medicine, Article ID 173748, 9 pages, 2011.

    <br>[29]. Yi Zhang*, Yi-Fei Pu, Jin-Rong Hu, Yan Liu and Ji-Liu Zhou. A new CT metal artifacts reduction algorithm based on fractional-order sinogram inpainting. Journal of X-Ray Science and Technology, pp. 373-384, vol. 19, no. 3, 2011.

    <br>[30]. Yi Zhang*, Yifei Pu and Jiliu Zhou. Construction of Fractional Derivation Masks and Corresponding Filter. Journal of South China University of Technology (Natural Science Edition) , pp. 95-101, vol. 39, no. 7, 2011.

    <br>[31]. Yi Zhang*, Yifei Pu, Jiliu Zhou, Jinrong Hu and Yan Liu. Salt-and-pepper noise suppression with a novel two stage algorithm. Journal of Information and Computational Science, pp. 1301-1306, vol. 7, no. 6, 2010.

    <br>[32]. Yi Zhang*, Yifei Pu and Jiliu Zhou. Construction of fractional differential masks based on Riemann-Liouville definition. Journal of Computational Information Systems, pp. 3191-3199, vol. 6, no. 10, 2010.

    <br>[33]. Yi Zhang*, Yuming Jiang, Jingtao Fu and Xixu He. Application of BPM based on workflow. Computer Engineering, vol. 34, no. 20, pp.292-295, 2008 (in Chinese)

    <br>[34]. Yifei Pu, Yi Zhang, Jiliu Zhou. 1~2 fractional-order derivation digital image filter based on Riemann-Liouville definition. Invention Patent of China , 201010147491.4
</div>

<!-- English Version -->
<div class="en post-container">
    <blockquote>
        Designer or Engineer, things in between.
    </blockquote>

    <p>
        Your work is going to fill a large part of your life, and the only way to be truly satisfied is to do what you believe is great work. And the only way to do great work is to love what you do. If you haven’t found it yet, keep looking. Don’t settle. As with all matters of the heart, you’ll know when you find it.
    </p>

    <p>
    If you want to live your life in a creative way, as an artist, you have to not look back too much. You have to be willing to take whatever you’ve done and whoever you were and throw them away.
    </p>

    <p style="text-align:right;">
    -- Steve Jobs
    </p>

</div>

<!-- Handle Language Change -->
<script type="text/javascript">
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    function onLanChange(index){
        if(index == 0){
            $zh.style.display = "block";
            $en.style.display = "none";
        }else{
            $en.style.display = "block";
            $zh.style.display = "none";
        }
    }
    onLanChange(0);
</script>



{% if site.duoshuo_username %}
<!-- 多说评论框 start -->
<div class="comment">
    <div class="ds-thread"
    {% if site.duoshuo_username == "huxblog" %}
        data-thread-id="1187623191091085319"
    {% else %}
        data-thread-key="{{site.duoshuo_username}}/about"
    {% endif %}

    data-title="{{page.title}}"
    data-url="{{site.url}}/about/"></div>
</div>
<!-- 多说评论框 end -->

<!-- Duoshuo hacking -->
<input id="dsUser" type="hidden" value="{{site.duoshuo_username}}"  />

<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    // dynamic User hacking by Hux
    var _user = document.getElementById('dsUser').value;
    // duoshuo comment query.
    var duoshuoQuery = {short_name: _user };
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0]
         || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
</script>
<!-- 多说公共JS代码 end -->
{% endif %}


{% if site.disqus_username %}
<!-- disqus 评论框 start -->
<div class="comment">
    <div id="disqus_thread" class="disqus-thread">

    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus_username}}";
    var disqus_identifier = "{{site.disqus_username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}
